*{
    font-size: xx-large;
}
/*
h1{
    color: red;
    background-color: yellow;
}
*/
span{
    background-color: blue;
    color: brown;
}

#tituloTres{
    background-color: blueviolet;
    color: white;
}

.claseParrafo{
    font-family: 'Times New Roman', Times, serif;
}

h2, h3, h4{
    background-color: steelblue;
    color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.claseDiv{
    background-color: rgb(52, 74, 172);
    color: white;
}

.claseDiv p{
    background-color: slategray;
}